#mapid {
    height: 100vh;
}

.stylePopup .leaflet-popup-content-wrapper {
    background: #3a5169;
    color: #fff;
    border-radius: 0px;
}
.legend {
    line-height: 22px;
    color: #000000;
    font-size: 15px;

}
.legend i {
    width: 15px;
    height: 15px;
    float: left;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    margin-right: 8px;

    border-radius: 50%;
    border:1px solid white;
}