html, body {
    margin: 0;
    height: 100%;
}
.no-scroll {
    overflow: hidden;
}
#mapid {
    height: 80vh;
    width: 95vw;
    margin: auto;
    z-index: 1000;
    /*
    margin-top: 15vh;
    */
}
iframe#time-map {
    display: block;
    margin: auto;
    height: 80vh;
    width: 95vw;
}
iframe#contribute-form {
    display: block;
    margin: auto;
    width: 640px;
    height: 70vh;
}
.header {
    text-align: center;
}
.title {
    font-family: 'Righteous', cursive;
    font-size: 20pt;
}
.desc {
    margin-top: -1.5vh;
    font-family: 'Open Sans';
    font-size: 14pt;
}
.section {
    margin-left: 20vw;
    margin-right: 20vw;
    font-family: 'Open Sans';
    font-size: 12pt;
}
.section-title {
    font-family: 'Righteous', cursive;
    margin-top: 5vh;
    margin-bottom: -2vh;
}

.nav-bar{
    margin-top: -1vh;
    margin-bottom: 2vh;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-size: 12pt;
    color: #000000;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000;
}
li {
    display: inline;
    color: #000000;
}
a {
    text-decoration: none;
    color: #000000;
}
a:visited {
    color: black;
}
.nav-current {
    color: #eaa12c !important;
}




/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}











/* from https://tympanus.net/Development/CreativeLinkEffects */
.bracket-links a::before,
.bracket-links a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.bracket-links a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.bracket-links a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.bracket-links a:hover::before,
.bracket-links a:hover::after,
.bracket-links a:focus::before,
.bracket-links a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}


.stylePopup .leaflet-popup-content-wrapper {
    z-index: 10;
    background: #3a5169;
    color: #fff;
    border-radius: 0px;
}
.legend {
    line-height: 20px;
    color: #000000;
    font-size: 15px;
}
.legend i {
    width: 13px;
    height: 13px;
    float: left;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    margin-right: 8px;

    border-radius: 50%;
    border:1px solid white;
}
.cover-img {
    position: relative;
    z-index: 10000;
    transition: transform 0.5s;
}
.cover-img:hover {
    z-index: 10001;
    transform: scale(2);
}

#refreshButton {
  position: absolute;
  z-index: 1001;
  border-radius: 4px;
  height: 25px;
  width: 25px;
}