html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

#mapid {
    height: 80vh;
    width: 95vw;
    margin: auto;
    /*
    margin-top: 15vh;
    */
}

.header {
    text-align: center;
}
.title {
    font-family: 'Righteous', cursive;
}
.desc {
    margin-top: -2.5vh;
    font-family: 'Open Sans', sans-serif;
}

.stylePopup .leaflet-popup-content-wrapper {
    z-index: 10;
    background: #3a5169;
    color: #fff;
    border-radius: 0px;
}
.legend {
    line-height: 20px;
    color: #000000;
    font-size: 15px;
}
.legend i {
    width: 13px;
    height: 13px;
    float: left;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    margin-right: 8px;

    border-radius: 50%;
    border:1px solid white;
}
.cover-img {
    position: relative;
    z-index: 10000;
    transition: transform 0.5s;
}
.cover-img:hover {
    z-index: 10001;
    transform: scale(2);
}