.label-text {
    alignment-baseline: middle;
    font-size: 12px;
    font-family: arial, helvetica, "sans-serif";
    fill: #393939;
}

.label-line {
    stroke-width: 1;
    stroke: #393939;
}

.label-circle {
    fill: #393939;
}

#explanation {
    position: absolute;
    top: 365px;
    left: 237px;
    width: 140px;
    text-align: center;
    color: #666;
}